<div class="content-container contact-content">

    <div class="contact-title">CONTACT ME</div>
    <div class="pink-dots">
        <div *ngFor="let dot of dots"></div>
    </div>


    <div class="contact-layout">

        <div class="card">

            <div class="info" *ngFor="let contact of contactData">
                <div class=" content">
                    <i [class]='contact.icon'></i>
                    <span>{{contact.name}}</span>
                </div>
        
                <div class="info-line"></div>
            </div>
        </div>
    </div>

 
    <div class="yellow-dots">
        <div *ngFor="let dot of dots"></div>
    </div>
</div>