.skill-heading {
	padding: 10px 0;
	text-align: center;
	font-size: var(--text-title);
	color: var(--color-primary);
}

.skill-tab {
	margin: 30px 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 50px;
	text-align: center;

	.skill-card {
		background-image: linear-gradient(180deg, #252428, #29282c00);
		background-color: #F1C9611A;
		border-color: #ffffff0d;
		border-radius: 10px;
		border-width: 1px;


		.card-patch {
			width: 100%;
			height: 6px;
			background-color: var(--color-primary);
			border-top-left-radius: 12px;
			border-top-right-radius: 12px;
		}

		.card-heading {	
			margin-top:20px;
			font-weight: 700;
			font-size: var(--text-sub-heading);
			color:var(--color-muted);
		}

		.tech-card {
			padding: 15px;
			margin-top: 10px;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			.skill-name {
				display: flex;
				color:var(--color-muted);
				margin: 12px;
				padding: 15px;
				border: 1px solid #9ca3af5c;
				border-radius: 20px;
				font-size: var(--text-medium);
				img {
					margin-right: 5px;
				}
				.tech-name {
					display: flex;
					align-items: center;
				}
			}
		}
	}
}

.skill-card:hover {
	transform: translateY(-5px);
	box-shadow: 0 8px 16px rgba(251, 191, 36, 0.3);
}

// mobile responsive
@media (max-width: 768px) {
	.skill-tab{
		grid-template-columns: 1fr !important; 
		margin: 20px 0 !important;
	}
}