<div class="content-container">


	<div class="skill-heading">
		SKILLS
	</div>

	<div class="skill-tab">
		<div *ngFor="let skills of skillData" class="skill-card">
			<div class="card-patch"></div>
			<div class="card-heading">{{skills.name}}</div>

			<div class="tech-card">
				<div *ngFor="let tech of skills.technology" class="skill-name">
					<img [src]="tech.image" alt="skill_logo" width="20">
					<div class="tech-name">
						{{tech.name}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>