:root {
  --color-background: #1e1e1e;
  --color-surface: #2e2e2e;
  --color-primary: #f1bb30c4;
  --color-secondary: #fb7185;
  --color-text: #f3f4f6;
  --color-muted: #9ca3af;
  --text-medium: 18px;
  --text-large: 70px;
  --text-heading:75px;
  --text-title:45px;
  --text-sub-heading:22px;
}

body {
  background-color: var(--color-background);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.content-container {
  padding: 30px 50px;
}