:root {
  --color-background: #1e1e1e;
  --color-surface: #2e2e2e;
  --color-primary: #f1bb30c4;
  --color-secondary: #fb71859c;
  --color-text: #f3f4f6;
  --color-muted: #9ca3af;
  --text-medium: 18px;
  --text-small: 14px;
  --text-large: 70px;
  --text-heading: 75px;
  --text-title: 45px;
  --text-sub-heading: 22px;
}

html {
  scroll-padding-top: 55px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.content-container {
  padding: 30px 50px;
}

// mobile responsive
@media (max-width: 768px) {
  .content-container {
    padding: 10px 20px !important;
  }
}